<head>
    <meta charset="utf-8">
     <!-- CSS Style Sheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/cover.css">
  <body style="background-color:rgb(119, 170, 177);text-align:center;"></body>
  <!DOCTYPE HTML>
  <html lang="en" >
  <html>
  <head>
    <title>Cover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/courses.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>
      <h1>All classes are of a duration of one hour.</h1>
    <ul>
        <h1>MONDAY</h1>
        <%for (var result in timetable['Monday']){%>
          <li><%=timetable['Monday']%></li>    
          <%}%>
    </ul>
    <ul>
        <h1>TUESDAY</h1>
        <%for (var result in timetable['Tuesday']){%>
          <li><%=timetable['Tuesday']%></li>    
          <%}%>
    </ul>
    <ul>
        <h1>WEDNESDAY</h1>
        <%for (var result in timetable['Wednesday']){%>
          <li><%=timetable['Wednesday']%></li>    
          <%}%>
    </ul><ul>
        <h1>THURSDAY</h1>
        <%for (var result in timetable['Thursday']){%>
          <li><%=timetable['Thursday']%></li>    
          <%}%>
    </ul><ul>
        <h1>FRIDAY</h1>
        <%for (var result in timetable['Friday']){%>
          <li><%=timetable['Friday']%></li>    
          <%}%>
    </ul>
    <form action="/delClass" method="post">
        <p>Enter a class you would like to delete-</p>
        <input type="text" name="newClass" placeholder="  "/></input>
      </form>
  </body>